<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.withpet.withpet_android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WithPet">
        <activity
            android:name=".ui.activities.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="@string/kakao_native_app_key_with_kakao" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.LikePostListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.LikePersonListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MyPetListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ReviewWriteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.ReviewListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.OthersPetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MyPetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.OthersProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MyProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:exported="false" />
    </application>

</manifest>